<div class="pageContainer">
  <div class="content">
    <div class="videoContainer">
      <div class="video">
        <p class="text">
          Twenty years ago, few home or business owners gave much thought to air duct cleaning. Today, dozens of products claiming to clean our indoor air are found in stores and on-line sites.
        </p>
        <p class="text">
          The evolution of this focus on air quality is an interesting story. Join Advanced Duct Cleaning LLC’s founder, Scott Crull, for a step-by-step overview of the development of this concern we call, “Indoor Air & Your Health.”
        </p>
        <p class="text">
          Click on the center arrow to view each video
        </p>
      </div>
      <div class="video">
        <div class="iframeContainer">
          <iframe src="https://www.youtube.com/embed/zmRZ4BeOeSs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="videoTitle">Intro: Indoor Air and Your Health</div>
      </div>
      <div class="video">
        <div class="iframeContainer">
          <iframe src="https://youtube.com/embed/XIiSyKE2TbE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="videoTitle">1: Indoor Air Quality Problem?</div>
      </div>
      <div class="video">
        <div class="iframeContainer">
          <iframe src="https://www.youtube.com/embed/vicCRbVTG-s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="videoTitle">2: Sick Building Syndrome</div>
      </div>
      <div class="video">
        <div class="iframeContainer">
          <iframe src="https://www.youtube.com/embed/sN_J8bwK7xs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="videoTitle">3: Best Way To Clean The System?</div>
      </div>
      <div class="video">
        <div class="iframeContainer">
          <iframe src="https://www.youtube.com/embed/OQCSSATlyI4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="videoTitle">4: Be An Informed Consumer</div>
      </div>
    </div>
  </div>
</div>
