<div class="pageContainer">
  <div class="content">
    <div class="videoContainer">
      <div class="video">
        <p class="text">
          Twenty years ago, few home or business owners gave much thought to air duct cleaning. Today, dozens of products claiming to clean our indoor air are found in stores and on-line sites.
        </p>
        <p class="text">
          The evolution of this focus on air quality is an interesting story. Join Fresh Air Corp’s president, Barry McCoy for a step-by-step overview of the development of this concern we call, “Indoor Air & Your Health.”
        </p>
        <p class="text">
          Click on the center arrow to view each video
        </p>
      </div>
      <div class="video">
        <div class="iframeContainer">
          <iframe src="https://www.youtube.com/embed/gIuf6hIY1s4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="videoTitle">Air Duct Cleaning Fraud</div>
      </div>
      <div class="video">
        <div class="iframeContainer">
          <iframe src="https://www.youtube.com/embed/yYZ7DvyVuQE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="videoTitle">Air Duct Fraud Exposed Part 2</div>
      </div>
      <div class="video">
        <div class="iframeContainer">
          <iframe src="https://www.youtube.com/embed/SrcEJGQlenM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="videoTitle">Mold Testing Fraud Alert</div>
      </div>
      <div class="video">
        <div class="iframeContainer">
          <iframe src="https://www.youtube.com/embed/l4xdjRxjPT4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="videoTitle">Discount Air Duct Cleaning Scam</div>
      </div>
      <div class="video">
        <div class="iframeContainer">
          <iframe src="https://www.youtube.com/embed/C7ThIm4YSmA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="videoTitle">We are going to find mold!</div>
      </div>
    </div>
  </div>
</div>
