<div class="pageContainer">
  <div class="content">
    <div class="carouselContainer">
      <div class="sliderC">
        <div class="slide">
          <div class="image">
            <img src="assets/Images/Why-Clean-Air-Ducts/1.jpg">
          </div>
          <div class="info">
            <h3>Is Air Duct Cleaning Really Necessary</h3>
            <p>
              Parents are concerned about the health of their kids. A week doesn’t seem to pass without a TV special or talk show presenting medical facts about the dangers of pollutants in the indoor air we breathe.
            </p>
            <p>
              This brief overview is offered to help you determine if a professional air duct cleaning would be beneficial for your home and family.
            </p>
            <p>
              Carefully consider the following questions and then decide for yourself.
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="image">
            <img src="assets/Images/Why-Clean-Air-Ducts/Whats-In-Your-Air2_2.jpg">
          </div>
          <div class="info">
            <h3>What's In Your Air?</h3>
            <p>
              Air contamination is the normal by-product of living things occupying closed spaces.
            </p>
            <p>
              Skin cells, mold, dust, dirt, mildew, pet dander, aerosol sprays, glue, paint, cooking oils, spices and insecticides are just a few of the contaminants that float in the air inside our homes.
            </p>
            <p>
              But there’s another problem – it doesn’t stay in the air. These particles settle and collect creating an unhealthy mess.
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="image">
            <img src="assets/Images/Why-Clean-Air-Ducts/3.jpg">
          </div>
          <div class="info">
            <h3>What's Hiding in the Ducts?</h3>
            <p>
              Over a two to three year span, air ducts become lined with particles of contaminants as they settle inside the system. Organic material (hair and skin cells) can also support growth of mold and mildew.
            </p>
            <p>
              This picture shows a build-up that is not unusual for a system left uncleaned for three or more years.
            </p>
            <p>
              This blanket of dirt doesn’t just lie there, it finds a way back into your lungs.
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="image">
            <img src="assets/Images/Why-Clean-Air-Ducts/4.jpg">
          </div>
          <div class="info">
            <h3>Can It Affect Your Health?</h3>
            <p>
              Each time the blower fan comes on, a cloud of particle-laden dust blows back into the living spaces of your home.
            </p>
            <p>
              Many studies have found that the air we’re breathing inside our homes is more contaminated than the air outdoors. More and more evidence links childhood asthma with indoor air pollution.
            </p>
            <p>
              But, that’s not the only problem. The blanket of dirt also affects the operation of the furnace system.
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="image">
            <img src="assets/Images/Why-Clean-Air-Ducts/5.jpg">
          </div>
          <div class="info">
            <h3>Can It Damage The Furnace?</h3>
            <p>
              A furnace system is a sizable investment. The blower-fan, heat exchanger and A-coils need to be cleaned regularly.
            </p>
            <p>
              Overheating, short cycling, A-coil freeze-ups and wasted fuel are the results of this contamination.
            </p>
            <p>
              With these issues considered, the safest and most economical choice is to keep the system clean.
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="image">
            <img src="assets/Images/Why-Clean-Air-Ducts/6.jpg">
          </div>
          <div class="info">
            <h3>What's The Best Solution?</h3>
            <p>
              Get The Air Duct System Cleaned!
            </p>
            <p>
              Many HVAC companies recommend a three year cleaning cycle to prohibit the build-up of contamination.
            </p>
            <p>
              This regular maintenance, not unlike oil and filter changes in our cars, keeps the furnace running efficiently and the air fresh and clean.
            </p>
            <p>
              But There's More!
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="image">
            <img src="assets/Images/Why-Clean-Air-Ducts/8.jpg">
          </div>
          <div class="info">
            <h3>What Should You Expect?</h3>
            <p>
              Knowledge is power. If you know what questions to ask, you’re more likely to hire a contractor who offers quality service.
            </p>
            <p>
              What you should expect is honesty, no deceptive small print, phony promotions or hidden charges.
            </p>
            <p>
              If you have further questions, or are ready to schedule your cleaning, contact Fresh Air Corp today!
            </p>
            <p>
              Click Becoming Scam Proof and learn how to avoid the con men. Becoming Scam Proof
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="image">
            <img src="assets/Images/Why-Clean-Air-Ducts/1.jpg">
          </div>
          <div class="info">
            <h3>Is Air Duct Cleaning Really Necessary</h3>
            <p>
              Parents are concerned about the health of their kids. A week doesn’t seem to pass without a TV special or talk show presenting medical facts about the dangers of pollutants in the indoor air we breathe.
            </p>
            <p>
              This brief overview is offered to help you determine if a professional air duct cleaning would be beneficial for your home and family.
            </p>
            <p>
              Carefully consider the following questions and then decide for yourself.
            </p>
          </div>
        </div>
      </div>
      <div class="arrow prevButton">
        <i class="fa-solid fa-angle-left"></i>
      </div>
      <div class="arrow nextButton">
        <i class="fa-solid fa-angle-right"></i>
      </div>
    </div>
  </div>
</div>
