@import '../../../variables';

p {
  font: {
    size: 14px;
    weight: 500;
  }
  color: $grey;
  line-height: 1.7em;
}

.carouselContainer {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  width: 100%;
  min-height: 365px;
  max-height: max-content;
  position: relative;
  overflow: hidden;
  align-items: center;

  &:hover {
    .arrow {
      &.prevButton {
        left: 22px;
        opacity: 1;
      }
      &.nextButton {
        right: 22px;
        opacity: 1;
      }
    }
  }

  .sliderSteps {
    width: 90%;
    height: 100%;
    @include alignCenter;

    @media only screen and (max-width: 750px) {
      width: 85%;
    }

    .slide {
      display: grid !important;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      column-gap: 45px;
      align-items: center;

      @media only screen and (max-width: 750px) {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: repeat(2, max-content);
        row-gap: 25px;
      }

      .image {
        width: 100%;
        display: grid;
        height: 100%;
        align-items: center;

        img {
          width: 100%;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 10px;

        p {
          color: $nearBlack;
          font: {
            weight: 400;
            size: 14px;
          }
          line-height: 1.7em;
        }

        img {
          @include alignCenter;
          width: 200px;
        }
      }
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;

    i {
      font-size: 24px;
      color: $nearBlack;
    }

    &.prevButton {
      left: -22px;
      opacity: 0;
      transition: left .2s, opacity .2s;
    }

    &.nextButton {
      right: -22px;
      opacity: 0;
      transition: right .2s, opacity .2s;
    }
  }
}
