<div class="pageContainer">
  <div class="heading">
    <h2>Steps To A Professional Air Duct Cleaning</h2>
  </div>
  <div class="content">
    <div class="carouselContainer">
      <div class="sliderSteps">
        <div class="slide step1">
          <div class="image">
            <img src="assets/Images/step1-a.jpg">
          </div>
          <div class="info">
            <h2>Step 1: Hire a Specialist With a Proven Record of Excellence</h2>
            <p>
              At Fresh Air Corp, air duct cleaning is all that we do, so whether it’s a home or business, our trained technicians understand even the most complex systems.
            </p>
            <p>
              Air duct cleaning shouldn’t ever be a “side-line” so with Fresh Air Corp you always have a specialist on the job. Check us out and read what hundreds of homeowners say about our excellent service and honest upfront pricing!
            </p>
          </div>
        </div>
        <div class="slide step2">
          <div class="image">
            <img src="assets/Images/1_Right_Equipment.jpg">
          </div>
          <div class="info">
            <h2>Step 2: Start With The Right Equipment</h2>
            <p>
              Cleaning a complex air duct system isn’t a job for a carpet cleaning machine with a hose attached or a tiny vacuum box that exhausts inside your home.
            </p>
            <img src="assets/Images/step1mini.jpg">
            <p>
              Our “Monster-Vac” trucks create the negative air flow needed to remove even the worst contaminants and pull them outside where they belong.
            </p>
          </div>
        </div>
        <div class="slide step3">
          <div class="image">
            <img src="assets/Images/Protect_Floor2.jpg">
          </div>
          <div class="info">
            <h2>Step 3: Protecting Your Home</h2>
            <p>
              A complete and in-depth cleaning requires us to go into every room that contains an air duct or cold-air return.
            </p>
            <p>
              At Fresh Air, the work won’t begin until the floors, doorways and outside wall corners are protected.
            </p>
            <p>
              Slip-on shoe covers, safety mats and plastic corner guards create a barrier between our equipment and your home.
            </p>
          </div>
        </div>
        <div class="slide step4">
          <div class="image">
            <img src="assets/Images/Cut_Hole2.jpg">
          </div>
          <div class="info">
            <h2>Step 4: Super-Vac</h2>
            <p>
              Access to the bonnet and main trunk lines allow us to cover and protect the A-Coil, connect the 8″ vacuum hose and create the massive negative air flow needed to remove the dirt, dust and contaminants that are hiding in the system.
            </p>
            <img src="assets/Images/Attach_Hose.jpg">
          </div>
        </div>
        <div class="slide step5">
          <div class="image">
            <img src="assets/Images/Step-5_Maximize_Vacuum.jpg">
          </div>
          <div class="info">
            <h2>Step 5: Maximize The Vacuum</h2>
            <p>
              Once the 8″ hose is connected to the system the huge vacuum fan on the truck begins pulling air from the living spaces down through the duct work.
            </p>
            <p>
              By covering the registers a negative pressure is created within the system so dirt and dust can’t puff back into the living spaces.
            </p>
          </div>
        </div>
        <div class="slide step6">
          <div class="image">
            <img src="assets/Images/Step-6_Scrubbing_the_System.jpg">
          </div>
          <div class="info">
            <h2>Step 6: Scrubbing The System</h2>
            <p>
              Pulling large volumes of air toward the truck, we now feed our soft rubber, high pressure scrubbing tools down each of the supply lines.
            </p>
            <p>
              This removes every trace of dirt, dust, pollen, chemical residue and pet dander that has collected over the years.
            </p>
          </div>
        </div>
        <div class="slide step7">
          <div class="image">
            <img src="assets/Images/Cold_Air_Return.jpg">
          </div>
          <div class="info">
            <h2>Step 7: Cold Air Return System</h2>
            <p>
              After all of the duct work on the supply side is completed, we move to the cold-air return system runs.
            </p>
            <p>
              The main return grill is removed and cleaned followed by the covers and lines throughout the structure.
            </p>
          </div>
        </div>
        <div class="slide step8">
          <div class="image">
            <img src="assets/Images/Trunk_Line1.jpg">
          </div>
          <div class="info">
            <h2>Step 8: Trunk Lines and Plenums</h2>
            <p>
              We now access the inside of the trunk lines (supply) and plenums (return air) and clean each one with specialized scrubbing tools.
            </p>
            <p>
              Small 1″ holes allow access to every area as the dirt is pulled toward the attached vacuum hose.
            </p>
            <img src="assets/Images/Trunk_Line3.jpg">
          </div>
        </div>
        <div class="slide step9">
          <div class="image">
            <img src="assets/Images/Furnace_Int_3.jpg">
          </div>
          <div class="info">
            <h2>Step 9: Furnace Interior</h2>
            <p>
              This optional service consists of cleaning of the blower fan, insulation, electric motor and cabinet interior.
            </p>
            <p>
              The filter is air swept and vacuumed before being reinserted or exchanged with an owner-supplied replacement.
            </p>
            <img src="assets/Images/Furnace_Int_2.jpg">
          </div>
        </div>
        <div class="slide step10">
          <div class="image">
            <img src="assets/Images/Wrap_Up_1.jpg">
          </div>
          <div class="info">
            <h2>Step 10: Wrapping It Up.</h2>
            <p>
              New galvanized access panels are installed over the openings created for the vacuum hose and sealed with aluminum tape.
            </p>
            <p>
              Air dampers are put back in their original position, plastic plugs are inserted in the 1″ access holes and all debris is removed.
            </p>
            <img src="assets/Images/Wrap_Up_3.jpg">
          </div>
        </div>
      </div>
      <div class="arrow prevButton">
        <i class="fa-solid fa-angle-left"></i>
      </div>
      <div class="arrow nextButton">
        <i class="fa-solid fa-angle-right"></i>
      </div>
    </div>
  </div>
</div>
