<div class="pageContainer">
  <div class="content">
    <div class="container">
      <div class="info">
        <h2>A Potential Hazard: Asbestos</h2>
        <p>
          Do you have a beige, mesh-like tape or wrap on your ductwork like in the photos shown on the right?
        </p>
        <p>
          If so, the material may contain asbestos fibers that could pose a potential health risk to you and your family if disturbed.
        </p>
        <h2>The Danger:</h2>
        <p>
          Advanced Duct Cleaning LLC’s deep cleaning system uses high pressure agitation and massive vacuum to scrub every square inch of the inside of your ductwork. Although the asbestos material is attached to the exterior surfaces, the cleaning process can still result in asbestos fibers being released into the air.
        </p>
        <h2>Your Options:</h2>
        <ol>
          <li>
            Abatement Contractor – The Ohio EPA asbestos program requires contractors to pass a certification program and hold an asbestos abatement license. There are companies in the central Ohio area that can assess your home and provide an estimate for removal.
          </li>
          <li>
            Homeowner – There are no EPA regulations governing what you can do in your own home. Your options include removing the material yourself (EPA strongly discourages this), replacing the affected duct runs, or applying a coat of Air Duct Sealant over the tape or blanket wrap.
          </li>
        </ol>
        <h2>Ask Us:</h2>
        <p>
          If your home was built in the 1980s or before, take a few moments to inspect the exposed ductwork in your basement. If you notice or suspect there is asbestos, take 4-5 pictures with a smart phone. <strong>Call Advanced Duct Cleaning LLC 614-322-3828</strong> for a free evaluation and discussion of your options.
        </p>
        <a href="https://asbestos.com" target="_blank">
          <img src="assets/Images/Asbestos-LogoM.png">
        </a>
      </div>
      <div class="images">
        <img src="assets/Images/Asbestos_1.png" alt="Asbestos 1">
        <img src="assets/Images/Asbestos_2.png" alt="Asbestos 2">
        <img src="assets/Images/Asbestos_3.png" alt="Asbestos 3">
      </div>
    </div>
  </div>
</div>
