@import '../../../variables';

.pageContainer {
  background-color: $primary !important;

  .content {
    row-gap: 20px !important;

    .imageVideoContainer {
      display: flex;
      flex-direction: column;
      width: 90%;
      @include alignCenter;
      background-color: $white;
      padding-bottom: 50px;

      img,
      video {
        width: 100%;
      }
    }

    .accordionListContainer {
      display: flex;
      flex-direction: column;
      width: 90%;
      @include alignCenter;

      .mat-expansion-panel {
        border-radius: 0 !important;
        background-color: $white;
        box-shadow: inset 0px 0px 24px -6px rgba(12,113,195,0.3) !important;
        border: 1px solid #d9d9d9;
        padding: 20px !important;

        .mat-expansion-panel-header {
          border-radius: 0 !important;
          padding: 0 !important;
          height: max-content !important;

          &:hover {
            background-color: transparent;
          }

          .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            h5 {
              color: $primary;
              font: {
                weight: 700;
                size: 16px;
              }
              line-height: 18px;
            }

            .circle {
              display: grid;
              width: 16px;
              height: 16px;
              place-items: center;
              font: {
                size: 14px;
              }
              line-height: 14px;
              color: $white;
              background-color: $primary;
              border-radius: 50%;
            }
          }
        }

        ::ng-deep .mat-expansion-panel-body {
          padding: 20px !important;
          color: $grey;
          font-size: 14px;

          .content {
            display: flex;
            flex-direction: column;
            width: 100%;
            row-gap: 10px;

            p,
            a {
              line-height: 1.7em;
              font: {
                weight: 500;
              }
            }

            a {
              color: $primary;
            }

            ol {
              padding-left: 15px;

              li {
                &:not(:last-child) {
                  padding-bottom: 10px;
                }
              }
            }
          }
        }
      }

      .additionalContainer {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 25px;
        padding: 20px;
        margin-top: 15px;
        background-color: $white;

        @media only screen and (max-width: 950px) {
          grid-template-columns: minmax(0, 1fr);
          row-gap: 20px;
        }

        .info {
          display: flex;
          width: 100%;
          flex-direction: column;
          row-gap: 10px;

          h2 {
            color: $nearBlack;
            font: {
              weight: 600;
              size: 26px;
            }
          }

          p {
            color: $grey;
            font: {
              weight: 500;
              size: 14px;
            }
            line-height: 1.7em;
          }
        }

        .image {
          width: 100%;
          height: 215px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
