$primary: #1b70ba;
$primaryMedium: #1c5eb5;
$primaryDark: #1857a0;
$white: #fff;
$offWhite: #eee;
$lGrey: rgba(0, 0, 0, 0.1);
$nearBlack: #333;
$grey: #666;

$firstBreak: 1200px;
$secondBreak: 980px;

@mixin blueHeaderGradient() {
background: linear-gradient(180deg,#3c85c1 0%,#06529e 100%);
}

@mixin blueGradient() {
  background: linear-gradient(180deg, #2b87da 0%, #1873c9 100%);
  transition: background .2s;

  &:hover {
    background: linear-gradient(180deg, darken(#2b87da, 3%) 0%, darken(#1873c9, 3%) 100%);
  }
}

@mixin redGradient() {
  background: linear-gradient(180deg, #ea2e2e 0%, #c12d17 100%);
  transition: background .2s;

  &:hover {
    background: linear-gradient(180deg, darken(#ea2e2e, 3%) 0%, darken(#c12d17, 3%) 100%);
  }
}

@mixin textShadow() {
  text-shadow: 0.08em 0.08em 0.08em rgba(0, 0, 0, 0.4);
}

@mixin textStroke() {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@mixin boxShadow() {
  box-shadow: 0 5px 11px -6 rgba(0, 0, 0, 0.3);
}

@mixin insetBoxShadow() {
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
}

@mixin border() {
  outline: 1px solid black;
}

@mixin alignLeft() {
  margin-left: 0;
  margin-right: auto;
}

@mixin alignCenter() {
  margin-left: auto;
  margin-right: auto;
}

@mixin alignRight() {
  margin-left: auto;
  margin-right: 0;
}

@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInRightSD {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRightSD {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
