$primary: #1b70ba;
$primaryMedium: #1c5eb5;
$primaryDark: #1857a0;
$white: #fff;
$offWhite: #eee;
$lGrey: rgba(0, 0, 0, 0.1);

$firstBreak: 1200px;
$secondBreak: 980px;

@mixin blueGradient() {
  background: linear-gradient(180deg, #2b87da 0%, #1873c9 100%);
}

@mixin redGradient() {
  background: linear-gradient(180deg, #ea2e2e 0%, #c12d17 100%);
}

@mixin textShadow() {
  text-shadow: 0.08em 0.08em 0.08em rgba(0, 0, 0, 0.4);
}

@mixin boxShadow() {
  box-shadow: 0 5px 11px -6 rgba(0, 0, 0, 0.3);
}

@mixin insetBoxShadow() {
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
}

@mixin border() {
  outline: 1px solid black;
}

@mixin alignLeft() {
  margin-left: 0;
  margin-right: auto;
}

@mixin alignCenter() {
  margin-left: auto;
  margin-right: auto;
}

@mixin alignRight() {
  margin-left: auto;
  margin-right: 0;
}

@mixin fadeUpAnimation {
  animation-name: fadeUp;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
