<div class="carousel">
  <a class="slide">
    <img src="assets/Images/s1.jpg" alt="">
  </a>
  <a class="slide">
    <img src="assets/Images/s2.jpg" alt="">
  </a>
  <a class="slide">
    <img src="assets/Images/s3.jpg" alt="">
  </a>
  <a class="slide">
    <img src="assets/Images/s4.jpg" alt="">
  </a>
  <a class="slide">
    <img src="assets/Images/s5.jpg" alt="">
  </a>
  <a class="slide">
    <img src="assets/Images/s6.jpg" alt="">
  </a>
  <a class="slide">
    <img src="assets/Images/IA4small.jpg" alt="">
  </a>
  <a class="slide">
    <img src="assets/Images/scam1b.jpg" alt="">
  </a>
</div>
