<div class="carousel">
  <a class="slide" [href]="[ '/becoming-scam-proof' ]">
    <img src="assets/Images/s1.jpg" alt="Becoming Scam Proof">
  </a>
  <a class="slide" [href]="[ '/indoor-air-and-your-health' ]">
    <img src="assets/Images/s3.jpg" alt="Indoor air and your health">
  </a>
  <a class="slide" [href]="[ '/becoming-scam-proof' ]">
    <img src="assets/Images/s2.jpg" alt="Becoming scam proof">
  </a>
  <a class="slide" [href]="[ '/indoor-air-and-your-health' ]">
    <img src="assets/Images/s4.jpg" alt="indoor air and your health">
  </a>
  <a class="slide" [href]="[ '/becoming-scam-proof' ]">
    <img src="assets/Images/s6.jpg" alt="Becoming scam proof">
  </a>
  <a class="slide" [href]="[ '/indoor-air-and-your-health' ]">
    <img src="assets/Images/s5.jpg" alt="indoor air and your health">
  </a>
  <a class="slide" [href]="[ '/becoming-scam-proof' ]">
    <img src="assets/Images/scam1b.jpg" alt="Becoming Scam Proof">
  </a>
  <a class="slide" [href]="[ '/indoor-air-and-your-health' ]">
    <img src="assets/Images/IA4small.jpg" alt="Indoor Air and Your Health">
  </a>
</div>
