@import '../../variables';

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #002668;
  background-color: #1b70ba;
  background: linear-gradient(180deg, #1b70ba, #1c5eb5);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1b70ba), color-stop(50%, #1b70ba), color-stop(50%, #1c5eb5));
  background: -webkit-linear-gradient(top, #1b70ba, #1c5eb5);
  background: -moz-linear-gradient(top, #1b70ba, #1c5eb5);
  background: -ms-linear-gradient(top, #1b70ba, #1c5eb5);
  background: -o-linear-gradient(top, #1b70ba, #1c5eb5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
}



.link {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  align-items: center;
  padding: 15px 30px;
  user-select: none;
  cursor: pointer;
  position: relative;

  .linkLabel {
    color: #d9d9d9;
    text-transform: uppercase;
    font: {
      weight: bold;
      size: 13px;
    };
  }

  &:hover {
    background-color: #1857a0;

    .linkLabel,
    .caret {
      color: white;
    }

    .dropdownMenu {
      visibility: visible;
      opacity: 1;
    }
  }

  &.activeLink {
    background-color: #1857a0;

    .linkLabel,
    .caret {
      color: white;
    }
  }

  &:not(:first-child) {
    border-left: 1px solid #0050ad;
    box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.1);
  }

  .caret {
    color: #d9d9d9;
  }

  .dropdownMenu {
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    transition: visibility .2s, opacity .2s ease-in;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: max-content;
    z-index: 2;

    .item {
      color: #888;
      text-align: left;
      user-select: none;
      padding: 15px 20px;
      font: {
        size: 12px;
        weight: 700;
      }
      transition: color .2s;

      &:hover,
      &.activeDropdownLink {
        color: #111;
      }
    }
  }
}

.mobileContainer {
  display: none;
}

@media only screen and (max-width: 960px) {
  .desktop {
    display: none;
  }

  .mobileContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    .accordionTab {
      display: flex;
      column-gap: 0.6em;
      align-items: center;
      font-size: 12px;
      color: $offWhite;
      background-color: $primary;
      text-transform: uppercase;
      @include border;
      @include insetBoxShadow;
      padding: 15px 20px;
      user-select: none;
      cursor: pointer;

      &:hover {
        background-color: $primaryMedium;
      }
    }

    .container {
      max-height: 0;
      transition: max-height .2s ease-out;
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));

      &.containerActive {
        max-height: 500px;
        transition: max-height .2s ease-in;
        overflow: visible;
      }

      .dropdownMenu {
        left: unset;
        right: -1px;
        width: calc(200% + 4px);

        &.dropdownMenuActive {
          visibility: visible;
          opacity: 1;
        }

        .item.close {
          display: flex;
          column-gap: 0.8em;
          justify-content: center;
          color: #888;
          text-align: left;
          align-items: center;
          user-select: none;
          padding: 15px 20px;
          font: {
            size: 12px;
            weight: 700;
          }
          transition: color .2s;

          &:hover {
            background-color: $lGrey;
            color: #888;
          }
        }
      }
    }
  }
}
