<div class="container">
  <div class="link">
    <p>Home</p>
  </div>
  <div class="link">
    <p>Our Company</p>
    <i class="fa-xs fa-solid fa-angle-down"></i>
    <div class="dropdownMenu">
      <div class="item">Our Company</div>
      <div class="item">Steps to a Professional Air Duct Cleaning</div>
      <div class="item">Fresh Air Corp Before and After Air Duct Cleaning</div>
    </div>
  </div>
  <div class="link">
    <p>Why Clean Air Ducts</p>
  </div>
  <div class="link">
    <p>Video Resource Center</p>
  </div>
  <div class="link">
    <p>PIP Network</p>
  </div>
  <div class="link">
    <p>Contact Us</p>
  </div>
</div>
