<div class="container desktop">
  <a class="link" [routerLink]="[ '' ]" routerLinkActive="activeLink" [routerLinkActiveOptions]="{ exact: true }">
    <p class="linkLabel">Home</p>
  </a>
  <div class="link" [ngClass]="{ 'activeLink': isOurCompany }">
    <p class="linkLabel">Our Company</p>
    <i class="caret fa-xs fa-solid fa-angle-down"></i>
    <div class="dropdownMenu">
      <a class="item" [routerLink]="[ '/our-company' ]" routerLinkActive="activeDropdownLink" [routerLinkActiveOptions]="{ exact: true }">Our Company</a>
      <a class="item" [routerLink]="[ '/Scott-Crull' ]" routerLinkActive="activeDropdownLink" [routerLinkActiveOptions]="{ exact: true }">Meet Scott Crull</a>
      <a class="item" [routerLink]="[ '/steps' ]" routerLinkActive="activeDropdownLink" [routerLinkActiveOptions]="{ exact: true }">Steps to a Professional Air Duct Cleaning</a>
      <a class="item" [routerLink]="[ '/before-and-after' ]" routerLinkActive="activeDropdownLink" [routerLinkActiveOptions]="{ exact: true }">Before and After Air Duct Cleaning</a>
    </div>
  </div>
  <a class="link" [routerLink]="[ '/why-clean-air-ducts' ]" routerLinkActive="activeLink" [routerLinkActiveOptions]="{ exact: true }">
    <p class="linkLabel">Why Clean Air Ducts</p>
  </a>
  <a class="link" [routerLink]="[ '/protecting-your-family' ]" routerLinkActive="activeLink" [routerLinkActiveOptions]="{ exact: true }">
    <p class="linkLabel">Video Resource Center</p>
  </a>
  <div class="link" [routerLink]="[ '/request-quote' ]" routerLinkActive="activeLink" [routerLinkActiveOptions]="{ exact: true }">
    <p class="linkLabel">Request a Quote</p>
  </div>
</div>

<div class="mobileContainer">
  <div class="accordionTab" (click)="toggleShowMenu()">
    <i class="accordionIcon fa-sharp fa-solid fa-bars"></i>
    <p class="accordionText">Menu</p>
  </div>
  <div class="container" [ngClass]="{ 'containerActive': showMenu }">
    <a class="link" [routerLink]="[ '/' ]" (click)="closeMenu()">
      <p class="linkLabel">Home</p>
    </a>
    <div class="link" (click)="toggleShowOurCompanyMenu()">
      <p class="linkLabel">Our Company</p>
      <i class="caret fa-xs fa-solid fa-angle-down"></i>
      <div class="dropdownMenu noHover" [ngClass]="{ 'dropdownMenuActive': showOurCompanyMenu }" (click)="$event.stopPropagation()">
        <a class="item" [routerLink]="[ '/our-company' ]" (click)="closeMenu()">Our Company</a>
        <a class="item" [routerLink]="[ '/Scott-Crull' ]" (click)="closeMenu()">Meet Scott Crull</a>
        <a class="item" [routerLink]="[ '/steps' ]" (click)="closeMenu()">Steps to a Professional Air Duct Cleaning</a>
        <a class="item" [routerLink]="[ '/before-and-after' ]" (click)="closeMenu()">Before and After Air Duct Cleaning</a>
        <div class="item close" (click)="showOurCompanyMenu = false">
          <i class="fa-solid fa-xmark"></i>
          <p>Close</p>
        </div>
      </div>
    </div>
    <a class="link" [routerLink]="[ '/why-clean-air-ducts' ]" (click)="closeMenu()">
      <p class="linkLabel">Why Clean Air Ducts</p>
    </a>
    <a class="link" [routerLink]="[ '/protecting-your-family' ]" (click)="closeMenu()">
      <p class="linkLabel">Video Resource Center</p>
    </a>
    <a class="link" [routerLink]="[ '/request-quote' ]" (click)="closeMenu()">
      <p class="linkLabel">Request a Quote</p>
    </a>
  </div>
</div>
