<div class="pageContainer">
  <div class="heading">
    <h2>Do I really need my air ducts cleaned?</h2>
    <p>
      With Advanced Duct Cleaning LLC, you don’t have to wonder.
      We provide you with Before and After photography
      so you can see the difference.
    </p>
  </div>
  <div class="content">
    <div class="carouselContainer">
      <div class="sliderB">
        <div class="slide" style="background-image: url('assets/Images/Before-and-After/60a3d393f27b4c00194450a4.webp')"></div>
        <div class="slide" style="background-image: url('assets/Images/Before-and-After/air-duct-cleaning-2-1080x618.jpg')"></div>
        <div class="slide" style="background-image: url('assets/Images/Before-and-After/air_duct_beforeandafter_photo_1.jpg')"></div>
        <div class="slide" style="background-image: url('assets/Images/Before-and-After/chute-before-after.jpg')"></div>
        <div class="slide" style="background-image: url('assets/Images/Before-and-After/duct-cleaning.png')"></div>
        <div class="slide" style="background-image: url('assets/Images/Before-and-After/images.jpeg')"></div>
      </div>
      <div class="arrow prevButton">
        <i class="fa-solid fa-angle-left"></i>
      </div>
      <div class="arrow nextButton">
        <i class="fa-solid fa-angle-right"></i>
      </div>
    </div>
  </div>
</div>
