@import '../../../variables';

.carouselContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  position: relative;
  overflow: hidden;
  align-items: center;

  &:hover {
    .arrow {
      &.prevButton {
        left: 22px;
        opacity: 1;
      }
      &.nextButton {
        right: 22px;
        opacity: 1;
      }
    }
  }

  .slider {
    width: 90%;
    height: 100%;
    @include alignCenter;

    @media only screen and (max-width: 750px) {
      width: 85%;
    }

    .slide {
      width: 100%;
      padding-top: 60%;
      display: grid !important;
      place-items: center;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;

    i {
      font-size: 24px;
      color: $nearBlack;
    }

    &.prevButton {
      left: -22px;
      opacity: 0;
      transition: left .2s, opacity .2s;
    }

    &.nextButton {
      right: -22px;
      opacity: 0;
      transition: right .2s, opacity .2s;
    }
  }
}
