<div class="pageContainer">
  <div class="heading">
    <h2>Our Company</h2>
  </div>
  <div class="content">
    <div class="our-company-container">
      <div class="image">
        <img src="assets/Images/ourcompany-side.png">
      </div>
      <div class="info">
        <p>
          <img src="assets/Images/Barry.png">
          <span>
            For over 40 years, Fresh Air Corp has been providing the very finest duct cleaning services to the residential and commercial markets of Central Ohio.
          </span>
          <span>
            We’re committed to offering our customers not only the most thorough cleaning possible, but absolute honesty in the way we price our service.
          </span>
          <span>
            No phony coupons, no bait & switch scams and no fraudulent mold testing – just the following commitment :
          </span>
        </p>
        <ul>
          <li>
            To treat you with honesty and integrity
          </li>
          <li>
            To give you more than your money’s worth
          </li>
          <li>
            To be punctual and keep you informed of any problems
          </li>
          <li>
            To protect your property and home as if it were our own
          </li>
        </ul>
        <p>
          Check us out on the Better Business Bureau or ask your heating and cooling contractor who they would recommend.
        </p>
        <p>
          At Fresh Air Corp, you’ll be given a firm quote right on the phone and receive only the most professional service possible.
        </p>
      </div>
    </div>
  </div>
</div>
