<div class="pageContainer">
  <div class="heading">
    <h2>Our Company</h2>
  </div>
  <div class="content">
    <div class="our-company-container">
      <div class="image">
        <img src="assets/Images/ourcompany-side.png">
      </div>
      <div class="info">
        <p>
          <img src="assets/Images/Barry.png">
          Advanced Duct Cleaning LLC is a veteran-owned air duct cleaning company committed to delivering high-quality services to customers in Indiana.We take pride in our dedication to providing exceptional customer service and utilizing the latest technology to ensure the health and safety of our customers.
          <br>
          <br>
          At Advanced Duct Cleaning LLC, we understand the importance of having clean air ducts in your home or business. Dirty air ducts can lead to poor indoor air quality, which can have a negative impact on your health and well-being. This is why we use the SaniJet sanitizing system, an advanced cleaning technology that is highly effective in removing dirt, dust, and other contaminants from your air ducts.
          <br>
          <br>
          Our team of highly trained professionals is committed to providing the highest quality air duct cleaning services to our customers. We use state-of-the-art equipment and industry best practices to ensure that your air ducts are thoroughly cleaned and sanitized. Our goal is to provide you with cleaner and healthier indoor air, which can help to reduce the risk of allergies, asthma, and other respiratory issues.
          <br>
          <br>
          In addition to our commitment to using the latest technology, we are proud to be a veteran-owned business. We are committed to upholding the same values of integrity, discipline, and attention to detail that were instilled in us during our military service.
          <br>
          <br>
          At Advanced Duct Cleaning LLC, we understand that every customer's needs are unique, which is why we offer customized air duct cleaning solutions to meet your specific needs. Whether you are a homeowner or a business owner, we will work with you to create a cleaning plan that is tailored to your needs and budget. Our team is always available to answer any questions you may have and provide you with the highest level of service and support.
          <br>
          <br>
          Thank you for considering Advanced Duct Cleaning LLC for your air duct cleaning needs. We look forward to the opportunity to serve you and provide you with the clean and healthy indoor air you deserve.
        </p>
      </div>
    </div>
  </div>
</div>
