@import '../../variables';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .header {
    display: grid;
    align-items: center;
    width: 100%;
    padding: 5px 8px;
    @include blueHeaderGradient;

    p {
      font: {
        size: 18px;
        weight: 500;
      }
      color: $white;
      line-height: 18px;
    }
  }
}
