<div class="container">
  <a class="logo" [routerLink]="[ '' ]">
    <img src="assets/logo-transparent-background.png" alt="Logo">
  </a>
  <a class="square reviews">
    <img src="assets/Images/G-Reviews_FAC3.png" alt="Google Reviews">
  </a>
  <a class="square scam">
    <img src="assets/Images/SacmAlert.png" alt="Scam Alert">
  </a>
  <div class="buttons">
    <div class="button blue">
      <i class="fa-solid fa-phone fa-sm"></i>
      <p>Call Us 614.322.3828</p>
    </div>
    <div class="button red">
      <div class="circle">
        <i class="fa-solid fa-dollar-sign"></i>
      </div>
      <p>Get a Free Quote</p>
    </div>
  </div>
</div>
