<ng-container *ngIf="!isMobile; else mobile">
  <header class="container">
    <a class="logo" [routerLink]="[ '' ]">
      <img src="assets/logo-transparent-background.png" alt="Logo">
    </a>
    <a class="square reviews" href="https://www.angi.com/companylist/us/in/centerville/advanced-duct-cleaning-reviews-10668745.htm" target="_blank">
      <img src="assets/Images/Customer-Reviews.jpg" alt="Reviews">
    </a>
    <div class="buttons">
      <a class="button blue" href="tel:7659149153">
        <i class="fa-solid fa-phone fa-sm"></i>
        <p>Call Us 765.914.9153</p>
      </a>
      <a class="button red" [routerLink]="[ '/request-quote' ]">
        <div class="circle">
          <i class="fa-solid fa-dollar-sign"></i>
        </div>
        <p>Get a Free Quote</p>
      </a>
    </div>
  </header>
</ng-container>

<ng-template #mobile>
  <a class="logoM" [routerLink]="[ '/' ]">
    <img src="assets/logo-transparent-background.png" alt="Logo">
  </a>
</ng-template>
