<div class="container">
  <a href="tele:#" class="phoneNumber">614.322.3828</a>
  <p class="text">Tap the number and call for an air duct cleaning quote.</p>
  <a class="button red" [routerLink]="[ '/request-quote' ]">
    <div class="circle">
      <i class="fa-solid fa-dollar-sign"></i>
    </div>
    <p>Click for a free quote</p>
  </a>
  <video controls>
    <source src="assets/FAC_PIP_Draft3.mp4" type="video/mp4" />
  </video>
  <a class="button blue" [routerLink]="[ '/our-company' ]">
    <p>Our Company</p>
  </a>
  <a class="button blue" [routerLink]="[ '/steps' ]">
    <p>10 Steps to a professional cleaning</p>
  </a>
</div>
