<div class="pageContainer">
  <div class="content">
    <div class="container">
      <div class="info">
        <p>
          Hi, my name is Megan and I'm the Customer Service Manager
          here at Fresh Air Corp. My Primary Mission is to answer
          your questions int he most straightforward and honest way
          possible.
        </p>
        <p>
          I'll provide you with available dates and give you a confirmed
          quote right on the phone. No double-talk or phony pricing.
        </p>
        <p>
          I look forward to meeting your highest expectations for
          honesty and customer service.
        </p>
        <p>
          Best Regards,
        </p>
        <p>
          Megan
        </p>
        <p>
          Fresh Air Corp
        </p>
        <p>
          2161 S. James Road
        </p>
        <p>
          Columbus, Ohio 43232
        </p>
        <p>
          Office: <strong>614-322-DUCT</strong> (3828)
        </p>
        <a [routerLink]="[ '/request-quote' ]">
          <img src="assets/Images/freequotetop2.png" alt="Request a free quote">
        </a>
      </div>
      <div class="image" style="background-image: url('assets/Images/megan-2.png')"></div>
    </div>
  </div>
</div>
