<div class="pageContainer">
  <div class="heading">
    <img class="protectingYourFamilyImage" src="assets/Images/pprotecting-head3.png">
    <h2>Advanced Duct Cleaning LLC Video Resource Center</h2>
  </div>
  <div class="content">
    <div class="infoContainer">
      <div class="info">
        <p>
          The video center is divided into two categories. Click on the individual buttons below to view the topics of your choice.
        </p>
        <div class="field">
          <p>
            Watch actual hidden camera investigations of Bait & Switch scams designed to clean-out your wallet, not your air ducts.
          </p>
          <a [routerLink]="[ '/becoming-scam-proof' ]">
            <img src="assets/Images/scamproof-button.png">
          </a>
        </div>
        <div class="field">
          <p>
            Produced by Fresh Air Corp, this five-part series answers the important questions about “Sick Building Syndrome.”
          </p>
          <a [routerLink]="[ '/indoor-air-and-your-health' ]">
            <img src="assets/Images/IA-button.png">
          </a>
        </div>
        <div class="field">
          <p>
            Produced by Fresh Air Corp, shows an amazing view inside an air duct while it is being cleaned.
          </p>
          <a href="https://www.youtube.com/watch?v=Fa_FXR3uEo0&feature=youtu.be&ab_channel=FreshAirCorp" target="_blank">
            <img src="assets/Images/sampleclean_button.png">
          </a>
        </div>
      </div>
      <div class="image">
        <div class="carousel">
          <div class="slider">
            <div class="slide" style="background-image: url('assets/Images/f1.png')"></div>
            <div class="slide" style="background-image: url('assets/Images/f2.png')"></div>
            <div class="slide" style="background-image: url('assets/Images/f3.png')"></div>
            <div class="slide" style="background-image: url('assets/Images/f4.png')"></div>
          </div>
          <div class="arrow prevButton">
            <i class="fa-solid fa-angle-left"></i>
          </div>
          <div class="arrow nextButton">
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
