<div class="pageContainer">
  <div class="content">
    <div class="title">
      Learn how companies use deceptive advertising to get into your home and run their scam!
    </div>
    <div class="videoContainer">
      <div class="video">
        <div class="iframeContainer">
          <iframe src="https://www.youtube.com/embed/pOSOi-NXILQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <p class="videoTitle">Air Duct Fraud Exposed Part 1</p>
      </div>
      <div class="video">
        <div class="iframeContainer">
          <iframe src="https://www.youtube.com/embed/gIuf6hIY1s4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="videoTitle">Air Duct Cleaning Fraud</div>
      </div>
      <div class="video">
        <div class="iframeContainer">
          <iframe src="https://www.youtube.com/embed/yYZ7DvyVuQE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="videoTitle">Air Duct Fraud Exposed Part 2</div>
      </div>
      <div class="video">
        <div class="iframeContainer">
          <iframe src="https://www.youtube.com/embed/SrcEJGQlenM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="videoTitle">Mold Testing Fraud Alert</div>
      </div>
      <div class="video">
        <div class="iframeContainer">
          <iframe src="https://www.youtube.com/embed/l4xdjRxjPT4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="videoTitle">Discount Air Duct Cleaning Scam</div>
      </div>
      <div class="video">
        <div class="iframeContainer">
          <iframe src="https://www.youtube.com/embed/C7ThIm4YSmA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="videoTitle">We are going to find mold!</div>
      </div>
    </div>
  </div>
</div>
