<section class="pageContainer">
  <div class="heading">
    <h1>Scott Crull</h1>
  </div>
  <div class="content">
    <div class="info">
      <p>
        Scott Crull is the Veteran Owner and Operator of Advanced Duct Cleaning. Scott
        Crull understands the importance of Indiana and Ohio families having clean air ducts in their
        homes or businesses. Getting to know Scott Crull's background is a great way to understand why
        he is fully committed to quality and helping customers in need.
        <br><br>
        Scott Crull began his career in service with the United States Air Force, where he gained
        valuable skills that he has since applied to his professional life. These skills include
        teamwork, adaptability, leadership, and organizational abilities. All these skills have
        helped Advanced Duct Cleaning, LLC grow into its current company. Scott is proud of the years
        he spent serving his country, and he's proud of the work he's doing now at Advanced Duct Cleaning.
        <br><br>
        As a native of Wayne County, Scott Crull has deep roots in the community and cares deeply about the people.
        He has demonstrated his commitment to Richmond and Wayne County through his work with past employers, as
        well as through his family and his business, Advanced Duct Cleaning, LLC.
        <br><br>
        Wayne County holds a special place in Scott Crull's heart. Both he and his wife, Marcy, grew up in the
        area and have given much back to the community. Marcy has dedicated the past 20 years of her career to
        working in the nonprofit sector, serving as the Executive Director for 3 large nonprofits and earning
        the support of many individuals, business executives, and leaders.
        <br><br>
        As a hands-on leader with a proven track record of optimizing work efficiency to achieve departmental
        goals, Scott Crull remains committed to serving the families in Indiana and Ohio and providing the best
        air duct cleaning service in the region.
      </p>
    </div>
  </div>
</section>
