<div class="container" *ngIf="!isMobile; else mobile">
  <a [routerLink]="[ '/steps' ]">
    <img src="assets/Images/10-Step.png">
  </a>
  <a [routerLink]="[ '/asbestos' ]">
    <img src="assets/Images/Asbestos-Check.png">
  </a>
  <a [routerLink]="[ '/before-and-after' ]">
    <img src="assets/Images/beforeafter.png">
  </a>
</div>

<ng-template #mobile>
  <div class="mobileContainer">
    Call <a href="tel:7659149153">(765) 914-9153</a> for an Air Duct Cleaning Quote.
  </div>
</ng-template>
